$colorNav: #5B605F; //panel boczny, nawigacja
$backgroundScreenColor: #FFFFFA; //kolor tła ekranów
$headerColor: #4a4a49; //nagłówek, kolor tekstu w kolumnach
$succesMessageColor: #468966; // kolor wiadomości typu succes
$warningMessageColor: #FFB03B; // kolor wiadomości typu warning
$infoMessageColor: #3498DB; //kolor wiadomości typu info
$binColor:#BD4932; //kolor ikony kosza
$tabAndIconsColor:#A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$buttonsAndScreensHeadersColor: #FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$logoColor-FirstWord: #fff; //kolor LOGO- słowo "zaplanuj"
$logoColor-SecondWord: #E58A20; //kolor LOGO- słowo "jedzonko"
$landing-page_light: #ececee;
$landing-page_dark: #4a4a49;
$landing-page_medium:#5b605f;
