.add-recipe-btn {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
  button {
    height: 130px;
    width: 130px;
    border: 2px dotted #59886a;
    margin: 5px;
    img {
      height: 90px;
      width: 90px;
    }
  }
}

.pulpit{
  display: flex;
}

.add-recipe {
  color: #59886a;
  font-size: 15px;
}